@font-face {
  font-family: 'octarine';
  src: url('../fonts/octarine.bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'octarine';
  src: url('../fonts/octarine.light.otf');
  font-weight: normal;
}

:root {
  --border-radius: 7px;
  --container-height: fit-content;
  --unit-display-padding: 10px;
}

html {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  font-family: 'octarine';
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'octarine';
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border-radius: var(--border-radius);
  width: fit-content;
  height: var(--container-height);
}

.info-complex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 6px;
}

.info-sub-complex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: small;
}

.color-bar {
  width: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: white;
  margin-top: 8px !important;
}

.avatar-image {
  margin-top: 9px !important;
  border-radius: var(--border-radius);
}

.row-element {
  margin-right: 6px;
  margin-top: 4px;
}

.column-element {
  margin-bottom: 1px;
}

.difficulty-pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-right: 5px;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
  background-color: #2a2a2a;
  border-radius: 12px;
  font-size: smaller;
}